# Car Data

## Columns:

**General Columns** 
- url: url of autos 
- short_description, description: Description of autos (in English and German) written by users 

**Categorical Columns**  
- make_model, make, model: Model of autos. Ex:Audi A1 
- body_type, body: Body type of autos Example: van, sedans * vat: VAT deductible, price negotiable 
- registration, first_registration: First registration date and year of autos. 
- prev_owner, previous_owners: Number of previous owners * type: new or used 
- next_inspection, inspection_new: information about inspection (inspection date,..) 
- body_color, body_color_original: Color of auto Ex: Black, red * paint_type: Paint type of auto Ex: Metallic, Uni/basic 
- upholstery: Upholstery information (texture, color) 
- gearing_type: Type of gear Ex: automatic, manual 
- fuel : fuel type Ex: diesel, benzine 
- co2_emission, emission_class, emission_label: emission information 
- drive_chain: drive chain Ex: front,rear, 4WD 
- consumption: consumption of auto in city, country and combination (lt/100 km) 
- country_version 
- entertainment_media 
- safety_security 
- comfort_convenience 
- extras 

**Quantitative Columns**
- price: Price of cars 
- km: km of autos 
- hp: horsepower of autos (kW) 
- displacement: displacement of autos (cc) 
- warranty: warranty period (month) 
- weight: weight of auto (kg) 
- nr_of_doors: number of doors 
- nr_of_seats : number of seats 
- cylinders: number of cylinders 
- gears: number of gears

In [222]:
import numpy as np
import pandas as pd

car_data = pd.read_json('scout_car.json', lines=True)
car_data.columns = car_data.columns.str.lower().str.replace(' ', '_').str.replace('.', '')
#print(car_data.isnull().sum()*100/ car_data.shape[0])
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non-smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  object
 29  nr_of_seats                    14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40
comfort_&_convenience
        14999 non-null  object
 41
entertainment_&_media
        14545 non-null  object
 42
extras
                       12957 non-null  object
 43
safety_&_security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

## General Columns
- url: url of autos 
- short_description, description: Description of autos (in English and German) written by users

In [203]:
car_data['url'].value_counts(dropna=False)

url
https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: count, Length: 15919, dtype: int64

## Quantitative Columns
- [x] price: Price of cars 
- [x] km: km of autos 
- [x] hp: horsepower of autos (kW) 
- [x] displacement: displacement of autos (cc) 
- [] warranty: warranty period (month) (drop?)
- [x] weight: weight of auto (kg) 
- [x] nr_of_doors: number of doors 
- [x] nr_of_seats : number of seats 
- [x] cylinders: number of cylinders 
- [x] gears: number of gears

### price

In [194]:
car_data['price'].astype("float")
car_data[['price']].sample(5)

       price
11790  18900
9041    7650
5399   24950
14317   9999
14555  10500

### km

In [195]:
car_data['km'] = car_data['km'].str.replace(',', '').str.findall('\d+').str[0].astype("float")
car_data[['km']].sample(5)

            km
7576   23755.0
5747   17457.0
140    40000.0
12825      NaN
5086      20.0

### hp

In [196]:
car_data['hp'] = car_data['hp'].str.replace(',', '').str.findall('\d+').str[0].astype("float")
car_data[['hp']].sample(5)

          hp
1829    70.0
1941    85.0
7820   110.0
12586  121.0
9351    66.0

### displacement

In [197]:
car_data['displacement'] = car_data['displacement'].str[0].str.replace(',', '').str.findall('\d+').str[0].astype("float")
car_data[['displacement']].sample(5)

       displacement
4866          999.0
4544         1598.0
10644        1598.0
11056        1956.0
5785         1399.0

### weight

In [198]:
car_data['weight'] = car_data['weight'].str[0].str.replace(',', '').str.findall('\d+').str[0].astype("float")
car_data[['weight']].sample(5)

       weight
3865      NaN
607       NaN
14254     NaN
15738     NaN
7957      NaN

### nr_of_doors

In [199]:
car_data['nr_of_doors'] = car_data['nr_of_doors'].str[0].str.findall('\d+').str[0]
car_data[['nr_of_doors']].sample(5)

      nr_of_doors
6940            4
7113            5
488           NaN
10589           5
4121            5

### nr_of_seats

In [200]:
car_data['nr_of_seats'] = car_data['nr_of_seats'].str[0].str.findall('\d+').str[0]
car_data[['nr_of_seats']].sample(5)

      nr_of_seats
2962            5
6665            5
12295           5
4693            5
9724            5

### cylinders

In [201]:
car_data['cylinders'] = car_data['cylinders'].str[0].str.findall('\d+').str[0]
car_data[['cylinders']].sample(5)

      cylinders
7545          4
15840       NaN
8514        NaN
9354        NaN
14260         4

### gears

In [202]:
car_data['gears'] = car_data['gears'].str[0].str.findall('\d+').str[0]
car_data[['gears']].sample(5)

     gears
2517     6
4564   NaN
5833   NaN
3416     6
5370   NaN