# Phase 1 - Cleaning Car Data

## Columns:

**General Columns** 
- url: url of autos 
- short_description, description: Description of autos (in English and German) written by users 

**Categorical Columns**  
- make_model, make, model: Model of autos. Ex:Audi A1 
- body_type, body: Body type of autos Example: van, sedans
- vat: VAT deductible, price negotiable 
- registration, first_registration: First registration date and year of autos. 
- type: new or used 
- next_inspection, inspection_new: information about inspection (inspection date,..) 
- body_color, body_color_original: Color of auto Ex: Black, red
- paint_type: Paint type of auto Ex: Metallic, Uni/basic 
- upholstery: Upholstery information (texture, color) 
- gearing_type: Type of gear Ex: automatic, manual 
- fuel Ex: diesel, benzine 
- emission_class, emission_label: emission information 
- drive_chain: drive chain Ex: front,rear, 4WD 
- country_version 
- entertainment_media 
- safety_security 
- comfort_convenience 
- extras 

**Quantitative Columns**
- co2_emission
- consumption: consumption of auto in city, country and combination (lt/100 km) 
- price: Price of cars 
- km: km of autos 
- hp: horsepower of autos (kW) 
- displacement: displacement of autos (cc) 
- warranty: warranty period (month)
- prev_owner, previous_owners: Number of previous owners
- weight: weight of auto (kg) 
- nr_of_doors: number of doors 
- nr_of_seats : number of seats 
- cylinders: number of cylinders 
- gears: number of gears

---

In [1]:
import numpy as np
import pandas as pd


df = pd.read_json('scout_car.json', lines=True)
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '').str.replace('_&_', '_').str.strip()

In [2]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kw,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
previous_owners,\n2\n,NaN,\n1\n
next_inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
inspection_new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
full_service,"[\n, \n]",NaN,NaN
non-smoking_vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
make,\nAudi\n,\nAudi\n,\nAudi\n
model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
offer_number,[\nLR-062483\n],NaN,[\nAM-95365\n]
first_registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
body_color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
paint_type,[\nMetallic\n],NaN,[\nMetallic\n]
body_color_original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
nr_of_doors,[\n5\n],[\n3\n],[\n4\n]
nr_of_seats,[\n5\n],[\n4\n],[\n4\n]
model_code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
gearing_type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
cylinders,[\n3\n],[\n4\n],NaN
weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
drive_chain,[\nfront\n],[\nfront\n],[\nfront\n]
fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
co2_emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
emission_class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
comfort_convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
entertainment_media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
safety_security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
emission_label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
gears,NaN,[\n7\n],NaN
country_version,NaN,NaN,NaN
electricity_consumption,NaN,NaN,NaN
last_service_date,NaN,NaN,NaN
other_fuel_types,NaN,NaN,NaN
availability,NaN,NaN,NaN
last_timing_belt_service_date,NaN,NaN,NaN
available_from,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non-smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  object
 29  nr_of_seats                    14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort_convenience            14999 non-null  object
 41  entertainment_media            14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety_security                14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

---

## Droping columns that have missing values more than 90%.

In [4]:
def df_nans(df, limit):
    missing = df.isnull().sum()*100 / df.shape[0]
    return missing.loc[lambda x : x >= limit]

def column_nans(serial):
    # display percentage of nans in a Series
    return serial.isnull().sum()*100 / serial.shape[0]

In [5]:
df_nans(df, 90)

kw                               100.000000
electricity_consumption           99.139393
last_service_date                 96.444500
other_fuel_types                  94.472015
availability                      96.011056
last_timing_belt_service_date     99.899491
available_from                    98.291350
dtype: float64

In [6]:
drop_columns = df_nans(df, 90).index
drop_columns

Index(['kw', 'electricity_consumption', 'last_service_date',
       'other_fuel_types', 'availability', 'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

In [7]:
df.drop(drop_columns, axis=1, inplace=True)

In [8]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'type', 'previous_owners',
       'next_inspection', 'inspection_new', 'warranty', 'full_service',
       'non-smoking_vehicle', 'null', 'make', 'model', 'offer_number',
       'first_registration', 'body_color', 'paint_type', 'body_color_original',
       'upholstery', 'body', 'nr_of_doors', 'nr_of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'consumption', 'co2_emission', 'emission_class',
       'comfort_convenience', 'entertainment_media', 'extras',
       'safety_security', 'description', 'emission_label', 'gears',
       'country_version'],
      dtype='object')

---

## Helper Functions

In [9]:
def safe_strip(x):
    if isinstance(x, list) and len(x) > 1:
        return x[1].strip()
    return x  # Return the original if it's not a list or too short

df['body'] = df['body'].apply(safe_strip)

In [10]:
def combine_columns(p1,p2):
    if p1 == p2:
        return p1
    elif np.isnan(p1) :
        if np.isnan(p2):
            return np.nan
        else:
            return p2
    elif np.isnan(p2):
        if np.isnan(p1):
            return np.nan
        else:
            return p1
    else:
        return 'conflict'

#df.apply(lambda x: combine_columns(x[''],x['']), axis=1)

---

## General Columns
- [x] url: url of autos
- [x] short_description, description: Description of autos (in English and German) written by users

### url

#### dropped becuase data not needed

In [11]:
df = df.drop(['url'], axis=1)

### short_description

In [12]:
df = df.drop(['short_description'], axis=1)

#### dropped because data elsewhere in dataframe

### description column

#### Dropped because it includes German description of car written by users

In [13]:
df['description']

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 15919, dtype: object

In [14]:
df.drop('description',axis=1,inplace=True)

### make_model, make and model (drop make and model)

---

## Categorical Columns
- [x] make_model, make, model: Model of autos. Ex:Audi A1 
- [x] body_type: Body type of autos Example: van, sedans
- [x] body: Body type of autos Example: van, sedans
- [x] vat: VAT deductible
- [x] registration: First registration date and year of autos. 
- [x] first_registration: First registration date and year of autos. 
- [x] type: new or used 
- [x] next_inspection: information about inspection (inspection date,..) 
- [x] inspection_new: information about inspection (inspection date,..) 
- [x] body_color: Color of auto Ex: Black, red
- [x] body_color_original: Color of auto Ex: Black, red
- [x] paint_type: Paint type of auto Ex: Metallic, Uni/basic 
- [x] upholstery: Upholstery information (texture, color) 
- [x] gearing_type: Type of gear Ex: automatic, manual 
- [x] fuel Ex: diesel, benzine 
- [x] emission_class
- [x] emission_label
- [x] drive_chain: drive chain Ex: front,rear, 4WD 
- [x] country_version 
- [x] entertainment_media 
- [x] safety_security
- [x] comfort_convenience 
- [x] extras

#### Drop make and model because they are redundent with make_model

In [15]:
df = df.drop(['make', 'model'], axis=1)

In [16]:
df['make_model'].value_counts(dropna=False)

make_model
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: count, dtype: int64

### body_type and body (drop body)

In [17]:
df['body_type'].value_counts(dropna=False)

body_type
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
None               60
Off-Road           56
Coupe              25
Convertible         8
Name: count, dtype: int64

In [18]:
df['body'].value_counts(dropna=False)

body
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: count, dtype: int64

#### body_type and body are the same, can drop body

In [19]:
df.drop('body', axis=1, inplace=True)

### vat

In [20]:
df['vat'].value_counts(dropna=False)

vat
VAT deductible      10980
None                 4513
Price negotiable      426
Name: count, dtype: int64

### registration and registration_year (merge and drop registration)

In [21]:
df['registration'] = df['registration'].replace('-/-', np.nan)
df['registration'] = pd.DatetimeIndex(df['registration'])
df['registration_year'] = pd.DatetimeIndex(df['registration']).year

In [22]:
df['registration_year'].value_counts(dropna=False)

registration_year
2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: count, dtype: int64

#### drop registration b/c no longer needed

In [23]:
df.drop('registration', axis=1, inplace=True)

### type

In [24]:
df['type'] = df['type'].str[1]

In [25]:
df['type'].value_counts(dropna=False)

type
Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: count, dtype: int64

### next_inspection

In [26]:
df['next_inspection'] = df['next_inspection'].str[0].str.strip().astype("string")
df['next_inspection'] = pd.DatetimeIndex(df['next_inspection'])
df['next_inspection'] = pd.DatetimeIndex(df['next_inspection']).year

In [27]:
df['next_inspection'].value_counts(dropna=False)

next_inspection
NaN       13094
2021.0     1401
2020.0      557
2022.0      483
2019.0      336
2018.0       26
2017.0        7
2023.0        5
2001.0        5
2016.0        3
2014.0        1
1921.0        1
Name: count, dtype: int64

### inspection_new

In [28]:
df['inspection_new']

0                     [\nYes\n, \nEuro 6\n]
1                                       NaN
2                                       NaN
3                                       NaN
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                   NaN
15915                                   NaN
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                   NaN
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: inspection_new, Length: 15919, dtype: object

In [29]:
df['inspection_new'] = df['inspection_new'].str[0].str.strip()

In [30]:
df['inspection_new'].value_counts(dropna=False)

inspection_new
NaN    11987
Yes     3570
         362
Name: count, dtype: int64

### body_color

In [31]:
df['body_color'] = df['body_color'].str[1]

In [32]:
df['body_color'].value_counts(dropna=False)

body_color
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: count, dtype: int64

### body_color_original (dropped)

In [33]:
df['body_color_original'] = df['body_color_original'].str[0].str[1:-1]

In [34]:
df['body_color_original'].value_counts(dropna=False)

body_color_original
NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: count, Length: 1928, dtype: int64

In [35]:
df['body_color_original'].isnull().sum()

3759

In [36]:
#import statsmodels.api as sm
#from statsmodels.formula.api import ols
#model = ols('price ~ C(body_color_original)', data=df).fit()
#anova_table = sm.stats.anova_lm(model, typ=2)
#anova_table

#### This column also can be dropped

In [37]:
df.drop('body_color_original',axis=1,inplace=True)

### paint_type

In [38]:
df['paint_type'] = df['paint_type'].str[0].str.strip()

In [39]:
df['paint_type']

0        Metallic
1             NaN
2        Metallic
3        Metallic
4        Metallic
           ...
15914    Metallic
15915    Metallic
15916         NaN
15917         NaN
15918    Metallic
Name: paint_type, Length: 15919, dtype: object

### upholstery (dropped and upholstery_color and upholstery_material columns created)

In [40]:
df['upholstery_material'] = df['upholstery'].str[0].str.replace('\n','').str.split(', ').str[0]

In [41]:
list_color = ['Black','Grey','Brown','Beige', 'Blue', 'White']
for i in list_color:
    df['upholstery_material'] = df['upholstery_material'].replace(i,np.nan)

In [42]:
df['upholstery_material'].value_counts(dropna=False)

upholstery_material
Cloth           8423
NaN             4503
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: count, dtype: int64

In [43]:
df['upholstery_material'].value_counts(dropna=False)

upholstery_material
Cloth           8423
NaN             4503
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: count, dtype: int64

In [44]:
df['upholstery_color'] = df['upholstery'].str[0].str.replace('\n','').str.replace(', ','')

In [45]:
list_uph_mat = ['Cloth', 'Part leather', 'Full leather', 'Other', 'Velour', 'alcantara']
for i in list_uph_mat:
    df['upholstery_color'] = df['upholstery_color'].str.replace(i,'')

In [46]:
df['upholstery_color'] = df['upholstery_color'].replace('',np.nan)

In [47]:
df['upholstery_color'].value_counts(dropna=False)

upholstery_color
Black     8201
NaN       6038
Grey      1376
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: count, dtype: int64

#### upholstery column cleaned and by this column two columns called upholstery_color and upholstery_material were created. upholstery column can be dropped.

In [48]:
df = df.drop('upholstery', axis=1)

### gearing_type

In [49]:
df['gearing_type'] = df['gearing_type'].str[1]

In [50]:
df['gearing_type'].value_counts(dropna=False)

gearing_type
Manual            8153
Automatic         7297
Semi-automatic     469
Name: count, dtype: int64

### fuel

In [51]:
df['fuel'] = df['fuel'].str[1].str.split("/").str[0].str.strip()

In [52]:
df['fuel'].value_counts(dropna=False)

fuel
Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: count, dtype: int64

In [53]:
df['fuel'] = df.fuel.str.split("(").str[0].str.strip()

In [54]:
df['fuel'].value_counts(dropna=False)

fuel
Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: count, dtype: int64

In [55]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x

In [56]:
df['fuel'] = df['fuel'].apply(fueltype)

In [57]:
df['fuel'].value_counts(dropna=False)

fuel
Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: count, dtype: int64

In [58]:
df[df.fuel == "Electric"][["make_model", "body_type", "co2_emission", "gears", "hp", "consumption", "price"]]

,make_model,body_type,co2_emission,gears,hp,consumption,price
3356,Audi A3,Compact,NaN,[\n6\n],150 kW,NaN,24950
3612,Audi A3,Sedans,[\n36 g CO2/km (comb)\n],[\n6\n],110 kW,"[\n, 1.6 l/100 km (comb), \n, \n, \n]",38450
3615,Audi A3,Sedans,[\n36 g CO2/km (comb)\n],[\n6\n],110 kW,"[\n, 1.6 l/100 km (comb), \n, \n, \n]",35899
3617,Audi A3,Sedans,[\n36 g CO2/km (comb)\n],[\n6\n],110 kW,"[\n, 1.6 l/100 km (comb), \n, \n, \n]",38000
13397,Renault Clio,Sedans,"[[], [], []]",NaN,- kW,NaN,8490

### emission_class

In [59]:
df['emission_class'] = df['emission_class'].str[0].str.replace('\n','')

In [60]:
df['emission_class'].value_counts(dropna=False)

emission_class
Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: count, dtype: int64

In [61]:
df['emission_class'].replace(['Euro 6','Euro 6d-TEMP','Euro 6d', 'Euro 6c'], 'Euro 6', inplace = True)

### emission_label (dropped)

In [62]:
#df['emission_label'] = df['emission_label'].str[0].str.findall('\((.*?)\)').str[0]

In [63]:
df['emission_label'].value_counts(dropna=False)

emission_label
NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: count, dtype: int64

In [64]:
df['emission_label'] = df['emission_label'].str[0].str.strip().str.replace(')', '').str.replace('(', '')

In [65]:
df['emission_label'].value_counts(dropna=False)

emission_label
NaN             11974
4 Green          3553
1 No sticker      381
5 Blue              8
3 Yellow            2
2 Red               1
Name: count, dtype: int64

In [66]:
df.drop('emission_label',axis=1,inplace=True)

### drive_chain

In [67]:
df['drive_chain'] = df['drive_chain'].str[0].str.strip()

In [68]:
df['drive_chain'].value_counts(dropna=False)

drive_chain
front    8886
NaN      6858
4WD       171
rear        4
Name: count, dtype: int64

### country_version

In [69]:
df['country_version'] = df['country_version'].str[0].str.strip()

In [70]:
df['country_version'].value_counts(dropna=False)

country_version
NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: count, dtype: int64

#### This column can be dropped.

In [71]:
df.drop('country_version',axis=1,inplace=True)

### entertainment_media

In [72]:
df['entertainment_media']

0        [Bluetooth, Hands-free equipment, On-board com...
1        [Bluetooth, Hands-free equipment, On-board com...
2                                 [MP3, On-board computer]
3        [Bluetooth, CD player, Hands-free equipment, M...
4        [Bluetooth, CD player, Hands-free equipment, M...
                               ...
15914    [Bluetooth, Digital radio, Hands-free equipmen...
15915    [Bluetooth, Digital radio, Hands-free equipmen...
15916    [Bluetooth, Hands-free equipment, On-board com...
15917               [Bluetooth, Digital radio, Radio, USB]
15918                                                [USB]
Name: entertainment_media, Length: 15919, dtype: object

In [73]:
df['entertainment_media'] = df['entertainment_media'].astype('str').str.replace('[','').str.replace("]",'')

#### This column was not changed as it will be transformed with getdummy function later

### safety_security

In [74]:
df['safety_security']

0        [ABS, Central door lock, Daytime running light...
1        [ABS, Central door lock, Central door lock wit...
2        [ABS, Central door lock, Daytime running light...
3        [ABS, Alarm system, Central door lock with rem...
4        [ABS, Central door lock, Driver-side airbag, E...
                               ...
15914    [ABS, Central door lock, Central door lock wit...
15915    [ABS, Adaptive Cruise Control, Blind spot moni...
15916    [ABS, Adaptive Cruise Control, Blind spot moni...
15917    [ABS, Blind spot monitor, Driver-side airbag, ...
15918    [ABS, Blind spot monitor, Daytime running ligh...
Name: safety_security, Length: 15919, dtype: object

#### This column was not changed as it will be transformed with getdummy function later

### comfort_convenience

In [75]:
df['comfort_convenience'] = df['comfort_convenience'].astype('str').str.replace('[','').str.replace("]",'')

In [76]:
df['comfort_convenience'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=",")

,'Air suspension','Armrest','Automatic climate control','Auxiliary heating','Cruise control','Electric Starter','Electric tailgate','Electrical side mirrors','Electrically adjustable seats','Electrically heated windshield',...,'Leather steering wheel','Light sensor','Multi-function steering wheel','Navigation system','Panorama roof','Park Distance Control','Power windows','Rain sensor','Sunroof',nan
0,0,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,0,0,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15915,0,0,1,0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15916,0,1,1,0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15917,0,0,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15918,0,0,1,0,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
df['comfort_convenience']

0        'Air conditioning', 'Armrest', 'Automatic clim...
1        'Air conditioning', 'Automatic climate control...
2        'Air conditioning', 'Cruise control', 'Electri...
3        'Air suspension', 'Armrest', 'Auxiliary heatin...
4        'Air conditioning', 'Armrest', 'Automatic clim...
                               ...
15914    'Air conditioning', 'Automatic climate control...
15915    'Air conditioning', 'Automatic climate control...
15916    'Air conditioning', 'Armrest', 'Automatic clim...
15917    'Air conditioning', 'Automatic climate control...
15918    'Air conditioning', 'Automatic climate control...
Name: comfort_convenience, Length: 15919, dtype: object

#### This column was not changed as it will be transformed with getdummy function later

### extras

In [78]:
df['extras'].astype('str').str.replace('[','').str.replace("]",'').str.get_dummies(sep=', ').sum()

'Alloy wheels'           11294
'Cab or rented Car'        310
'Catalytic Converter'     2258
'Handicapped enabled'       52
'Right hand drive'           3
'Roof rack'               2647
'Shift paddles'            508
'Ski bag'                  247
'Sliding door'               3
'Sport package'           1198
'Sport seats'             3098
'Sport suspension'        1619
'Touch screen'            4043
'Trailer hitch'            654
'Tuned car'                 13
'Voice Control'           4326
'Winter tyres'             246
nan                       2962
dtype: int64

In [79]:
df['extras']

0        [Alloy wheels, Catalytic Converter, Voice Cont...
1        [Alloy wheels, Sport seats, Sport suspension, ...
2                            [Alloy wheels, Voice Control]
3               [Alloy wheels, Sport seats, Voice Control]
4        [Alloy wheels, Sport package, Sport suspension...
                               ...
15914                         [Alloy wheels, Touch screen]
15915          [Alloy wheels, Touch screen, Voice Control]
15916                                       [Alloy wheels]
15917                         [Alloy wheels, Touch screen]
15918                         [Alloy wheels, Touch screen]
Name: extras, Length: 15919, dtype: object

#### This column was not changed as it will be transformed with getdummy function later

####

---

## Quantitative Columns
- [x] price: Price of cars 
- [x] km: km of autos
- [x] co2_emission
- [x] consumption: consumption of auto in city, country and combination (lt/100 km) 
- [x] hp: horsepower of autos (kW) 
- [x] displacement: displacement of autos (cc) 
- [x] warranty: warranty period (month)
- [x] prev_owner: Number of previous owners
- [x] previous_owners: Number of previous owners
- [x] weight: weight of auto (kg) 
- [x] nr_of_doors: number of doors 
- [x] nr_of_seats : number of seats 
- [x] cylinders: number of cylinders 
- [x] gears: number of gears

### price

In [80]:
df['price'].astype("float")

0        15770.0
1        14500.0
2        14640.0
3        14500.0
4        16790.0
          ...
15914    39950.0
15915    39885.0
15916    39875.0
15917    39700.0
15918    40999.0
Name: price, Length: 15919, dtype: float64

In [81]:
df['price'].value_counts(dropna=False)

price
14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: count, Length: 2956, dtype: int64

### km

In [82]:
df['km'] = df['km'].str.replace(',', '').str.findall('\d+').str[0].astype("float")

In [83]:
df['km'].value_counts(dropna=False).index

Index([   10.0,     nan,     1.0,     5.0,    50.0,   100.0,    15.0,  5000.0,
          20.0,  3000.0,
       ...
       57840.0, 43400.0, 31265.0, 36020.0, 53433.0, 67469.0, 43197.0, 10027.0,
       35882.0,    57.0],
      dtype='float64', name='km', length=6690)

### co2_emission

In [84]:
df['co2_emission'] = df['co2_emission'].str[0].str.strip().str.findall('\d+').str[0].astype("float")

In [85]:
df['co2_emission'].value_counts(dropna=False)

co2_emission
NaN      2436
120.0     740
99.0      545
97.0      537
104.0     501
         ...
51.0        1
165.0       1
331.0       1
80.0        1
193.0       1
Name: count, Length: 120, dtype: int64

### consumption (turned into city, country and combined consumption columns then dropped)

In [86]:
# comb
df['consumption_combined'] = df['consumption'].str[0].str[0].str.replace('l/100 km (comb)', '').str.replace('kg/100 km (comb)', '').replace('\n', 'NaN').astype("float")

In [87]:
df['consumption_combined'].value_counts(dropna=False)

consumption_combined
NaN     2883
3.9      732
4.0      712
5.4      663
5.1      630
        ...
33.0       1
50.0       1
1.0        1
46.0       1
9.1        1
Name: count, Length: 72, dtype: int64

In [88]:
# city
df['consumption_city'] = df['consumption'].str[1].str[0].str.replace('l/100 km (city)', '').str.replace('kg/100 km (city)', '').replace('\n', 'NaN').astype("float")

In [89]:
df['consumption_city'].value_counts(dropna=False)

consumption_city
NaN     2422
5.0     1049
5.8      600
4.5      580
4.3      533
        ...
10.5       1
9.0        1
64.0       1
19.9       1
9.7        1
Name: count, Length: 87, dtype: int64

In [90]:
df['consumption_combined'].value_counts(dropna=False)

consumption_combined
NaN     2883
3.9      732
4.0      712
5.4      663
5.1      630
        ...
33.0       1
50.0       1
1.0        1
46.0       1
9.1        1
Name: count, Length: 72, dtype: int64

In [91]:
# country
df['consumption_country'] = df['consumption'].str[2].str[0].str.replace('l/100 km (country)', '').str.replace('kg/100 km (country)', '').replace('\n', 'NaN').astype("float")

In [92]:
df['consumption_combined'].value_counts(dropna=False)

consumption_combined
NaN     2883
3.9      732
4.0      712
5.4      663
5.1      630
        ...
33.0       1
50.0       1
1.0        1
46.0       1
9.1        1
Name: count, Length: 72, dtype: int64

In [93]:
df.drop('consumption', axis=1, inplace=True)

### hp

In [94]:
df['hp'] = df['hp'].str.replace(',', '').str.findall('\d+').str[0].astype("float")

In [95]:
df['hp'].value_counts().index

Index([ 85.0,  66.0,  81.0, 100.0, 110.0,  70.0, 125.0,  51.0,  55.0, 118.0,
        92.0, 121.0, 147.0,  77.0,  56.0,  54.0, 103.0,  87.0, 165.0,  88.0,
        60.0, 162.0,  74.0,  96.0,  71.0, 101.0,  67.0, 154.0, 122.0, 119.0,
       164.0, 135.0,  52.0,  82.0,   1.0,  78.0, 146.0, 294.0, 141.0,  57.0,
       120.0, 104.0, 112.0, 191.0, 117.0, 155.0, 184.0,  65.0,  90.0,  76.0,
       168.0,  98.0, 149.0,  80.0,  93.0,  53.0,  86.0, 140.0, 150.0, 228.0,
       270.0, 143.0, 167.0,  40.0,  89.0,  63.0, 127.0, 123.0,  75.0, 115.0,
       195.0, 132.0, 163.0,  84.0,   4.0, 137.0,   9.0,  44.0, 133.0, 239.0],
      dtype='float64', name='hp')

### displacement

In [96]:
df['displacement'] = df['displacement'].str[0].str.replace(',', '').str.findall('\d+').str[0].astype("float")

In [97]:
df['displacement'].value_counts().index

Index([ 1598.0,   999.0,  1398.0,  1399.0,  1229.0,  1956.0,  1461.0,  1490.0,
        1422.0,  1197.0,   898.0,  1395.0,  1968.0,  1149.0,  1618.0,  1798.0,
        1498.0,  1600.0,  1248.0,  1997.0,  1364.0,  1400.0,   998.0,  1500.0,
        2000.0,  1000.0,     1.0,  1998.0,  2480.0,  1200.0,  1984.0,  1397.0,
         899.0,   160.0,   929.0,  1499.0,   997.0,  1596.0,   139.0,   900.0,
        1599.0,  1199.0,  1396.0,  1495.0,  1589.0,  1300.0,     2.0,   995.0,
        1496.0,   890.0,  1580.0,  1995.0,  1333.0,    54.0,  1533.0,  1100.0,
        1350.0, 16000.0,  1856.0,  1568.0,  1896.0,  1584.0,   996.0,  1696.0,
        1686.0, 15898.0,  1368.0,   140.0,   973.0,  1239.0,  1369.0,  1390.0,
         122.0,  1198.0,  1195.0,  2967.0,  1800.0],
      dtype='float64', name='displacement')

### warranty

In [98]:
df['warranty']

0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: warranty, Length: 15919, dtype: object

In [99]:
import re
def clean_warranty(a):
    if type(a) == list:
        b = re.findall(r'\d+', a[0])
        if len(b)== 0:
            return np.nan
        else:
            return b[0]
    elif type(a) ==str:
        b = re.findall(r'\d+', a)
        if len(b)== 0:
            return np.nan
        else:
            return b[0]
    else:
        return a

In [100]:
df['warranty'] = df['warranty'].apply(clean_warranty)

In [101]:
df['warranty'] = df['warranty'].astype('float')

In [102]:
df['warranty'].value_counts(dropna=False)

warranty
NaN     11066
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
4.0         3
1.0         3
19.0        3
34.0        3
13.0        3
28.0        2
22.0        2
14.0        2
11.0        2
46.0        2
21.0        2
9.0         2
17.0        2
45.0        2
33.0        1
40.0        1
65.0        1
10.0        1
15.0        1
7.0         1
8.0         1
56.0        1
49.0        1
47.0        1
30.0        1
Name: count, dtype: int64

### prev_owner and previous_owners (drop prev_owner)

In [103]:
df['prev_owner'] = df['prev_owner'].str.findall('\d+').str[0].astype("float")

In [104]:
df['prev_owner'].value_counts(dropna=False)

prev_owner
1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: count, dtype: int64

In [105]:
df['previous_owners'] = df['previous_owners'].str.findall('\d+').str[0].astype("float")

In [106]:
df['previous_owners'].value_counts(dropna=False)

previous_owners
1.0    8101
NaN    6870
2.0     766
0.0     163
3.0      17
4.0       2
Name: count, dtype: int64

In [107]:
df['previous_owners'] = df.apply(lambda x: combine_columns(x['prev_owner'],x['previous_owners']), axis=1)

In [108]:
df = df.drop(['prev_owner'], axis=1)

#### drop prev_owner because redundent with previous_owners

In [109]:
df['previous_owners'].value_counts(dropna=False)

previous_owners
1.0    8294
NaN    6665
2.0     778
0.0     163
3.0      17
4.0       2
Name: count, dtype: int64

### weight

In [110]:
df['weight'] = df['weight'].str[0].str.replace(',', '').str.findall('\d+').str[0].astype("float")

In [111]:
df['weight'].value_counts().index

Index([1163.0, 1360.0, 1165.0, 1335.0, 1135.0, 1199.0, 1734.0, 1180.0, 1503.0,
       1350.0,
       ...
       1137.0, 1213.0, 1960.0, 1258.0, 1167.0, 1331.0, 1132.0, 1252.0, 1792.0,
       2037.0],
      dtype='float64', name='weight', length=434)

### nr_of_doors

In [112]:
df['nr_of_doors'] = df['nr_of_doors'].str[0].str.findall('\d+').str[0]

In [113]:
df['nr_of_doors'].value_counts()

nr_of_doors
5    11575
4     3079
3      832
2      219
1        1
7        1
Name: count, dtype: int64

### nr_of_seats

In [114]:
df['nr_of_seats'] = df['nr_of_seats'].str[0].str.findall('\d+').str[0]

In [115]:
df['nr_of_seats'].value_counts()

nr_of_seats
5    13336
4     1125
7      362
2      116
6        2
3        1
Name: count, dtype: int64

### cylinders

In [116]:
df['cylinders'] = df['cylinders'].str[0].str.findall('\d+').str[0]

In [117]:
df['cylinders'].value_counts(dropna=False)

cylinders
4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: count, dtype: int64

### gears

In [118]:
df['gears'] = df['gears'].str[0].str.findall('\d+').str[0]

In [119]:
df['gears'].value_counts(dropna=False)

gears
6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: count, dtype: int64

## create csv

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   make_model            15919 non-null  object
 1   body_type             15859 non-null  object
 2   price                 15919 non-null  int64
 3   vat                   11406 non-null  object
 4   km                    14895 non-null  float64
 5   hp                    15831 non-null  float64
 6   type                  15917 non-null  object
 7   previous_owners       9254 non-null   float64
 8   next_inspection       2825 non-null   float64
 9   inspection_new        3932 non-null   object
 10  warranty              4853 non-null   float64
 11  full_service          8215 non-null   object
 12  non-smoking_vehicle   7177 non-null   object
 13  null                  15919 non-null  object
 14  offer_number          12744 non-null  object
 15  first_registration    14322 non-null  object
 16  body_color            15322 non-null  object
 17  paint_type            10147 non-null  object
 18  nr_of_doors           15707 non-null  object
 19  nr_of_seats           14942 non-null  object
 20  model_code            4978 non-null   object
 21  gearing_type          15919 non-null  object
 22  displacement          15423 non-null  float64
 23  cylinders             10239 non-null  object
 24  weight                8945 non-null   float64
 25  drive_chain           9061 non-null   object
 26  fuel                  15919 non-null  object
 27  co2_emission          13483 non-null  float64
 28  emission_class        12291 non-null  object
 29  comfort_convenience   15919 non-null  object
 30  entertainment_media   15919 non-null  object
 31  extras                12957 non-null  object
 32  safety_security       14937 non-null  object
 33  gears                 11207 non-null  object
 34  registration_year     14322 non-null  float64
 35  upholstery_material   11416 non-null  object
 36  upholstery_color      9881 non-null   object
 37  consumption_combined  13036 non-null  float64
 38  consumption_city      13497 non-null  float64
 39  consumption_country   12707 non-null  float64
dtypes: float64(12), int64(1), object(27)
memory usage: 4.9+ MB

### Save to new csv after clean data before going to filling null values.
- Every step use a new notebook.

In [121]:
df.to_csv("cleaned_car_data.csv", index=False)